<div class ="col-lg-l2" >
<br>
  <div class ="card rounded-0 mt5 mb-5">
    <div class="card-body">
      <h2 class = "text-center">Listing Scheduled Interviews</h2>
    </div>
  </div>

<%= button_to "New Interview", new_interview_path ,method: :get %>

   <table class = "table table-bordered">
    <thead>
      <tr>
      
        <th>Register Id</th>
        <th>Applicant Id</th>
        <th>Round</th>
        <th>Timing</th>
        <th>Set By</th>
        <th>Feedback</th>
        <th>Status</th>

      </tr> 
    </thead>

    <tbody>
      <% @interviews.each do |interview| %>
        <tr>
          <td><%= interview.register_id %></td>
          <td><%= interview.applicant_id %></td>
          <td><%= interview.round %></td>
          <td><%= interview.timing %></td>

          <td><%= interview.set_by %></td>
          <td><%= interview.feedback %></td>

          <td><%= interview.status %></td>
          <td><%= button_to "Edit" , edit_interview_path(interview) ,method: :get %></td>
          <td><%= button_to "Delete", interview_path(interview), method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

