<h1>Applicant</h1>

<div class ="col-lg-l2" >


   <table class = "table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Age</th>
        <th>Role</th>
        <th>Experience</th>
        <th>Skills</th>
        <th>Address</th>
        <th>State</th>
        <th>Country</th>
        <th>Pin</th>
      </tr>
    </thead>
   
    <tbody>
        <tr>
          <td><%= @applicant.name %></td>
          <td><%= @applicant.email %></td>
          <td><%= @applicant.contact %></td>
          <td><%= @applicant.age %></td>

          <td><%= @applicant.role %></td>
          <td><%= @applicant.experience %></td>

          <td><%= @applicant.skills %></td>
          <td><%= @applicant.address %></td>
          <td><%= @applicant.state %></td>
          <td><%= @applicant.country %></td>
          <td><%= @applicant.pincode %></td>
        </tr>
    </tbody>
  </table>
<%= button_to "New applicant", new_applicant_path,method: :get %>

  <%= button_to "Edit", edit_applicant_path(@applicant) ,method: :get%>
  <%= button_to "Destroy", applicant_path(@applicant),method: :delete %>
</div>